body {
    font-family: "Open Sans", "Helvetica", sans-serif;
    margin: 0; 
    padding: 0;
    width: 100%;
}

.app-container {
    margin: 0 auto;
    margin-top: 48px;
    text-align: center;
    width: 100%;
}

/* Index CSS */
.image-container {
    margin-bottom: 16px;
    width: 100%;
}

.image-placeholder {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 400px;
}

/* Custom Form CSS */
hr {
    border: none;
    border-top: 1px solid #ddd;
    width: 75%;
}

label {
    display: block;
    font-weight: bold;
}

.signup-form {
    background-color: #eee;
    border-radius: 6px;
    margin: 24px auto 0;
    padding: 24px;
    width: 400px;
}

.signup-field {
    display: block;
}

.signup-text {
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-family: "Open Sans", "Helvetica", sans-serif;
    margin: 4px 0 12px;
    padding: 12px;
    text-align: center;
}

.signup-button {
    background-color: #112d4e; /* dark blue */
    border-radius: 4px;
    color: #fff;
    font-family: "Open Sans", "Helvetica", sans-serif;
    font-size: 14px;
    padding: 12px;
}
